/node_modules
/public/css/*
/public/js/*
/public/fonts/*
/public/images/*
/public/videos/*
/public/mix-*
/public/hot
/public/medias
/public/storage
/public/*.js
/public/*.ico
/public/*.xml
/storage/*.key
/storage/app
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.bak
supervisord.log
supervisord.pid
.php_cs.cache
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php
.DS_store
