body {
    position: relative;
    background-color: getColor($color, bg);
    font-size: pxToRem(16);
    line-height: pxToRem(18);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: getColor($color, dark);
    color: rgba(getColor($color, dark), 0.87);

    @media screen and (min-width: 426px) {
        //font-size: calc( 16px + ( 24 - 16 ) * ( 100vw - 400px ) / ( 800 - 400 ) );
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

a {
    color: getColor($color, dark);
    color: rgba(getColor($color, dark), 0.87);
}

.italic {
    font-style: italic;
}
.tc {
    text-align: center;
}
.txr {
    text-align: right;
}

h2 {
    line-height: pxToRem(32);
    font-size: pxToRem(32);

    .light {
        display: inline-block;
        font-weight: 300;
        margin-bottom: pxToRem(32);
    }
}

p.down {
    margin: 0;
    text-align: center;
    margin: pxToRem(16) 0 !important;

    a {
        position: relative;
        display: inline-block;
        padding: pxToRem(0) pxToRem(56) pxToRem(0) pxToRem(16);
        height: pxToRem(36);
        line-height: pxToRem(36);
        background-color: getColorDark($color, green, 5);
        color: getColor($color, light);
        // color: rgba( getColor( $color, light ), .87 );
        text-decoration: none;
        text-transform: uppercase;
        @include border-radius(pxToRem(2));
        @include box-shadow(
            0 pxToRem(2) pxToRem(2) 0 rgba(getColor($color, dark), 0.14),
            0 pxToRem(3) pxToRem(1) pxToRem(-2)
                rgba(getColor($color, dark), 0.2),
            0 pxToRem(1) pxToRem(5) 0 rgba(getColor($color, dark), 0.12)
        );

        &:after,
        &::after {
            @extend .material-icons;
            content: 'file_download';
            position: absolute;
            top: 0;
            right: pxToRem(16);
            bottom: 0;
            font-size: pxToRem(28);
            line-height: pxToRem(36);
        }
    }
}

p.hired {
    margin: 0;
    text-align: center;
    margin: pxToRem(32) 0 !important;

    a {
        position: relative;
        display: inline-block;
        padding: pxToRem(0) pxToRem(56) pxToRem(0) pxToRem(16);
        height: pxToRem(36);
        line-height: pxToRem(36);
        background-color: getColor($color, green);
        color: getColor($color, light);
        color: rgba(getColor($color, light), 0.87);
        text-decoration: none;
        @include border-radius(pxToRem(2));
        @include box-shadow(
            0 pxToRem(2) pxToRem(2) 0 rgba(getColor($color, dark), 0.14),
            0 pxToRem(3) pxToRem(1) pxToRem(-2)
                rgba(getColor($color, dark), 0.2),
            0 pxToRem(1) pxToRem(5) 0 rgba(getColor($color, dark), 0.12)
        );

        &:after,
        &::after {
            @extend .material-icons;
            content: 'send';
            position: absolute;
            top: 0;
            right: pxToRem(16);
            bottom: 0;
            font-size: pxToRem(28);
            line-height: pxToRem(36);
        }
    }
}
a.hired {
    color: getColorDark($color, green, 5);
}

.bgLight,
.bgDark {
    padding: pxToRem(8) 0;
    background-color: getColor($color, light);

    img {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }
}
.bgDark {
    background-color: getColor($color, dark);
}

.dMax {
    max-width: pxToRem(1024);
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 1024px) {
        padding-right: pxToRem(16);
        padding-left: pxToRem(16);
    }
}

#intro {
    position: relative;
    overflow: hidden;
    background-color: getColor($color, dark);
    background-image: url(../videos/poster-introduction.jpg);
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 86vh;

    .row {
        position: relative;
        display: table;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .cell {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    .tr {
        position: relative;
        display: table;
        width: 96%;
        max-width: pxToRem(320);
        margin: pxToRem(48) auto 0;
    }
    .tc {
        display: table-cell;
        vertical-align: middle;
        width: 50%;

        a {
            position: relative;
            display: block;
            padding: pxToRem(0) pxToRem(4);
            height: pxToRem(36);
            line-height: pxToRem(36);
            background-color: getColor($color, green);
            color: getColor($color, light);
            // color: rgba( getColor( $color, light ), .87 );
            text-decoration: none;
            text-transform: uppercase;
            @include border-radius(0 pxToRem(2) pxToRem(2) 0);
            @include box-shadow(
                0 pxToRem(2) pxToRem(2) 0 rgba(getColor($color, dark), 0.14),
                0 pxToRem(3) pxToRem(1) pxToRem(-2)
                    rgba(getColor($color, dark), 0.2),
                0 pxToRem(1) pxToRem(5) 0 rgba(getColor($color, dark), 0.12)
            );

            &.down {
                background-color: getColorDark($color, green, 5);
                @include border-radius(pxToRem(2) 0 0 pxToRem(2));
            }

            i {
                vertical-align: middle;
                margin-left: pxToRem(4);
            }
        }
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 1;
        @include transform(translate(-50%, -50%));
    }

    &:before,
    &::before {
        content: '';
        position: absolute;
        bottom: pxToRem(12);
        left: 50%;
        margin-left: pxToRem(-19);
        width: pxToRem(4);
        padding: pxToRem(10) pxToRem(15);
        height: pxToRem(35);
        background-color: rgba(getColor($color, dark), 0.5);
        border: pxToRem(2) solid #fff;
        border-top-width: pxToRem(6);
        border-bottom-width: pxToRem(6);
        @include border-radius(pxToRem(6));
        opacity: 0.75;
        z-index: 2;
        @include box-shadow(0 0 pxToRem(8) 0 rgba(getColor($color, dark), 0.5));
    }

    &:after,
    &::after {
        content: '';
        position: absolute;
        bottom: pxToRem(46);
        left: 50%;
        margin-left: pxToRem(-5);
        width: pxToRem(10);
        height: pxToRem(10);
        @include border-radius(50%);
        background-color: #fff;
        z-index: 2;
        @include animation(
            scrollUp,
            2.2s,
            cubic-bezier(0.15, 0.41, 0.69, 0.94),
            false,
            infinite
        );
    }

    @include keyframes('scrollUp') {
        0% {
            @include transform(translateY(pxToRem(15)));
            opacity: 0;
        }
        10% {
            @include transform(translateY(pxToRem(15)));
            opacity: 1;
        }
        100% {
            @include transform(translateY(0));
            opacity: 0;
        }
    }
    @include keyframes('scrollDown') {
        0% {
            @include transform(translateY(pxToRem(-15)));
            opacity: 0;
        }
        10% {
            @include transform(translateY(pxToRem(-15)));
            opacity: 1;
        }
        100% {
            @include transform(translateY(0));
            opacity: 0;
        }
    }

    #name {
        display: block;
        font-size: pxToRem(48);
        line-height: pxToRem(56);
        font-weight: 100;
        color: getColor($color, light);
        @include text-shadow(0 0 pxToRem(8) rgba(getColor($color, dark), 0.5));
        text-align: center;
        margin: 0;

        [data-type='givenName'] {
            display: block;
            padding-right: pxToRem(64);
            span {
                font-weight: 300;
            }
        }

        [data-type='familyName'] {
            position: relative;
            display: block;
            padding-left: pxToRem(64);
            span {
                font-weight: 300;
            }
        }
    }

    #jobTitle {
        display: block;
        text-align: center;
        font-weight: 100;
        font-size: pxToRem(28);
        line-height: pxToRem(28);
        color: getColor($color, light);
        @include text-shadow(0 0 pxToRem(8) rgba(getColor($color, dark), 0.5));
        margin: pxToRem(48) 0 0;
    }
    @media screen and (min-width: 426px) {
        &:before,
        &::before {
            margin-left: pxToRem(-27);
            width: pxToRem(20);
            height: pxToRem(40);
        }
        .tr {
            max-width: pxToRem(408);
            @include box-shadow(none);
        }
        .tc {
            padding-right: pxToRem(16);

            &:last-child {
                padding-right: 0;
                padding-left: pxToRem(16);
            }

            a {
                max-width: pxToRem(216);
                @include border-radius(pxToRem(2));
                @include box-shadow(
                    0 pxToRem(2) pxToRem(2) 0 rgba(getColor($color, dark), 0.14),
                    0 pxToRem(3) pxToRem(1) pxToRem(-2)
                        rgba(getColor($color, dark), 0.2),
                    0 pxToRem(1) pxToRem(5) 0 rgba(getColor($color, dark), 0.12)
                );
            }
        }
    }
    @media screen and (orientation: landscape) {
        &:before,
        &::before {
            top: pxToRem(12);
            left: pxToRem(12);
            bottom: auto;
            margin-left: 0;
        }
        &:after,
        &::after {
            top: pxToRem(24);
            left: pxToRem(26);
            bottom: auto;
            margin-left: 0;
        }
    }
    @media screen and (min-width: 426px) and (orientation: landscape) {
        &:after,
        &::after {
            left: pxToRem(34);
        }
    }
    @media screen and (min-width: 1024px) and (orientation: landscape),
        screen and (min-width: 1024px) and (orientation: portrait) {
        &:before,
        &::before {
            top: auto;
            bottom: pxToRem(12);
            left: 50%;
            margin-left: pxToRem(-19);
            width: pxToRem(60);
            margin-left: pxToRem(-45);
            border-top-width: pxToRem(2);
        }
        &:after,
        &::after {
            top: auto;
            bottom: pxToRem(30);
            left: 50%;
            margin-left: 0;
            width: pxToRem(4);
            @include border-radius(pxToRem(4));
            @include animation(
                scrollDown,
                2.2s,
                cubic-bezier(0.15, 0.41, 0.69, 0.94),
                false,
                infinite
            );
        }
    }
}

#about {
    padding: pxToRem(32) 0;
    @include box-shadow(0 0 pxToRem(8) rgba(getColor($color, dark), 0.5));

    .dMax {
        display: table;
        width: 100%;
    }

    h2 {
        font-size: pxToRem(34);
        line-height: pxToRem(34);
        display: table-row;
        text-align: center;
    }

    .row {
        display: table;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .cell {
        display: table-row;
        width: 100%;
        padding: pxToRem(16) pxToRem(8);
        vertical-align: top;

        #avatar {
            width: 54vw;
            margin: pxToRem(16) auto pxToRem(32);
            overflow: hidden;
            @include transform(rotateZ(-6deg));
            @include box-shadow(0 0 0 pxToRem(4) getColor($color, green));

            img {
                display: inline-block;
                @include transform(rotateZ(6deg) scale(1.2));
            }
        }

        h3 {
            margin: 0;
            padding: pxToRem(8);
        }
        p {
            margin: 0;
            padding: pxToRem(8);
            line-height: pxToRem(22);
        }
    }
    p.psst {
        position: relative;
        margin: 0;
        padding: pxToRem(8);
        line-height: pxToRem(22);
        background-color: getColorDark($color, light, 10);
        max-width: pxToRem(400);
        margin-left: pxToRem(12);
        margin-right: pxToRem(12);
        padding-right: pxToRem(24);
        @include border-radius(pxToRem(8));

        &:after,
        &::after {
            content: '';
            position: absolute;
            width: pxToRem(12);
            height: pxToRem(12);
            top: pxToRem(8);
            right: pxToRem(8);
            background-color: getColorDark($color, green, 5);
            @include border-radius(50%);
        }
        @media screen and (min-width: 424px) {
            margin-right: auto;
            margin-left: auto;
        }
    }
    @media screen and (min-width: 502px) {
        .dMax {
            display: block;
        }

        h2 {
            display: block;
        }

        .cell {
            display: table-cell;
            width: 50%;
        }
        .row {
            display: table-row;
            &.ini {
                .cell {
                    &:first-child {
                        width: 40%;
                        padding-left: pxToRem(24);
                    }
                    #avatar {
                        width: auto;
                        max-width: pxToRem(208);
                    }
                }
            }
        }
    }
}

#skills {
    position: relative;
    width: 100%;
    background-image: url('../images/skills.png');
    background-repeat: repeat;
    background-position: top center;
    padding: pxToRem(32) 0;

    h2 {
        position: relative;
        text-align: center;
        font-size: pxToRem(34);
        line-height: pxToRem(34);
        margin-top: pxToRem(32);

        &:before,
        &::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'school';
            // color: getColor( $color, dark );
            // color: rgba( getColor( $color, dark ), .87 );
        }
    }

    h3 {
        position: relative;
        text-align: center;
        margin-top: pxToRem(48);
        margin-bottom: pxToRem(48);
        font-size: pxToRem(28);
        line-height: pxToRem(28);
        text-decoration: underline;

        &:before,
        &::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(48);
            color: getColor($color, languages);
        }
    }

    #languages {
        position: relative;
        overflow: hidden;

        h3 {
            &:before,
            &::before {
                content: 'receipt';
                color: getColor($color, languages);
            }
        }

        figcaption {
            h4 {
                color: getColor($color, languages);
                border-bottom: pxToRem(2) solid getColor($color, languages);
            }
            .progress-bar {
                background-color: rgba(getColor($color, languages), 0.4);

                &:before,
                &::before {
                    background-image: url('../images/dotLang.png');
                }

                &:after,
                &::after {
                    background-color: getColor($color, languages);
                }
            }
        }
    }

    #outils {
        position: relative;
        margin-top: pxToRem(24);
        overflow: hidden;

        h3 {
            &:before,
            &::before {
                content: 'layers';
                color: getColor($color, outils);
            }
        }

        figcaption {
            h4 {
                color: getColor($color, outils);
                border-bottom: pxToRem(2) solid getColor($color, outils);
            }
            .progress-bar {
                background-color: rgba(getColor($color, outils), 0.4);

                &:before,
                &::before {
                    background-image: url('../images/dotOut.png');
                }

                &:after,
                &::after {
                    background-color: getColor($color, outils);
                }
            }
        }
    }

    #os {
        position: relative;
        margin-top: pxToRem(24);
        overflow: hidden;

        h3 {
            &:before,
            &::before {
                content: 'settings';
                color: getColor($color, os);
            }
        }

        figcaption {
            h4 {
                color: getColor($color, os);
                border-bottom: pxToRem(2) solid getColor($color, os);
            }
            .progress-bar {
                background-color: rgba(getColor($color, os), 0.4);

                &:before,
                &::before {
                    background-image: url('../images/dotOsr.png');
                }

                &:after,
                &::after {
                    background-color: getColor($color, os);
                }
            }
        }
    }

    figure {
        display: table;
        width: 100%;
        margin: 0 0 pxToRem(16);

        &:last-child {
            margin-bottom: 0;
        }

        .cell {
            display: table-cell;
            vertical-align: top;

            &:first-child {
                width: pxToRem(128);
                padding: pxToRem(16);
            }
        }
        .strew {
            background-color: getColor($color, light);
            // background-image: (../images/bg-competences.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            border: pxToRem(2) solid getColor($color, dark);
            @include background-size(150% auto);
            @include transform(rotateZ(-6deg));
            @include box-shadow(
                0 0 pxToRem(4) rgba(getColor($color, dark), 0.25)
            );

            img {
                @include transform(rotateZ(6deg) scale(0.9));
            }
        }
        figcaption {
            display: table-cell;
            vertical-align: top;
            margin: 0;
            padding: 0 pxToRem(8) 0 pxToRem(6);

            h4 {
                font-weight: 600;
                margin-bottom: pxToRem(8);
            }
            p {
                margin: 0;

                .italic {
                    position: relative;
                    display: inline-block;
                    font-weight: 300;
                    font-size: pxToRem(14);
                    line-height: pxToRem(14);
                }
            }
            .progress-bar {
                position: relative;
                display: block;
                margin: pxToRem(8) pxToRem(24) pxToRem(8) 0;
                height: pxToRem(4);
                background-color: rgba(getColor($color, dark), 0.25);

                &:before,
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: pxToRem(-24);
                    width: pxToRem(24);
                    opacity: 0.4;
                    background-position: 0 0;
                    background-repeat: repeat-x;
                    z-index: 2;
                    @include animation(
                        loadComp,
                        600ms,
                        linear,
                        false,
                        infinite
                    );
                }

                &:after,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }

                &.w90p {
                    &:after,
                    &::after {
                        width: 90%;
                    }
                }
                &.w80p {
                    &:after,
                    &::after {
                        width: 80%;
                    }
                }
                &.w75p {
                    &:after,
                    &::after {
                        width: 75%;
                    }
                }
                &.w70p {
                    &:after,
                    &::after {
                        width: 70%;
                    }
                }
                &.w60p {
                    &:after,
                    &::after {
                        width: 60%;
                    }
                }
                &.w50p {
                    &:after,
                    &::after {
                        width: 50%;
                    }
                }
                &.w40p {
                    &:after,
                    &::after {
                        width: 40%;
                    }
                }
                &.w30p {
                    &:after,
                    &::after {
                        width: 30%;
                    }
                }
                &.w25p {
                    &:after,
                    &::after {
                        width: 25%;
                    }
                }

                progress {
                    position: absolute;
                    z-index: -1;
                    @include appearance(none);
                    border: none;
                    width: 0;
                    height: 0;
                    color: transparent;
                    background-color: transparent;
                    @include border-radius(pxToRem(16));
                }

                @include keyframes('loadComp') {
                    0% {
                        background-position: 0 0;
                    }
                    100% {
                        background-position: pxToRem(-8) 0;
                    }
                }
            }
        }

        @media screen and (min-width: 502px) {
            display: inline-block;
            vertical-align: top;
            width: 50%;

            .cell {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }

            figcaption {
                display: block;
            }
        }

        @media screen and (min-width: 752px) {
            width: 33.333%;
        }
    }
}

#experiences {
    display: table;
    width: 100%;
    padding: pxToRem(32) 0;
    @include box-shadow(0 0 pxToRem(8) rgba(getColor($color, dark), 0.5));

    h2 {
        position: relative;
        text-align: center;
        margin-top: pxToRem(40);
        font-size: pxToRem(34);
        line-height: pxToRem(34);

        &:before,
        &::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'domain';
        }
    }

    article {
        position: relative;
        margin-bottom: pxToRem(32);
        @include box-shadow(
            0 pxToRem(2) pxToRem(2) 0 rgba(getColor($color, dark), 0.14),
            0 pxToRem(3) pxToRem(1) pxToRem(-2)
                rgba(getColor($color, dark), 0.2),
            0 pxToRem(1) pxToRem(5) 0 rgba(getColor($color, dark), 0.12)
        );

        &.to {
            header {
                background-color: getColor($experiences, toLight);
                color: getColor($experiences, toDark);
                a {
                    color: getColor($experiences, toDark);

                    img {
                        width: 80%;
                    }
                }
            }
        }
        &.fox {
            header {
                background-color: getColor($experiences, foxLight);
                color: getColor($experiences, foxDark);
                a {
                    color: getColor($experiences, foxDark);

                    img {
                        width: 80%;
                    }
                }
            }
        }
        &.msg {
            header {
                background-color: getColor($experiences, msgDark);
                color: getColor($experiences, msgLight);
                a {
                    color: getColor($experiences, msgLight);
                }
            }
        }
        header {
            padding: pxToRem(22) 0;

            h3 {
                a {
                    display: block;
                    text-align: center;
                    img {
                        max-width: 100%;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
        section {
            padding: pxToRem(8) pxToRem(16);

            .duree {
                position: relative;
                text-align: right;
                font-style: italic;
                font-weight: 300;
                font-size: pxToRem(14);
                margin-top: 0;
                padding-right: pxToRem(18);

                &:before,
                &::before {
                    content: 'timer';
                    @extend .material-icons;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: pxToRem(16);
                    line-height: pxToRem(16);
                }
            }
            ul {
                padding-left: pxToRem(16);
            }
        }
        footer {
            border-top: pxToRem(1) solid rgba(getColor($color, dark), 0.1);
            // padding: pxToRem( 8 ) pxToRem( 16 ) pxToRem( 16 );
            padding: pxToRem(8);
            text-align: right;
            font-size: pxToRem(14);
            font-weight: 300;

            address {
                a {
                    position: relative;
                    text-decoration: none;

                    &:before,
                    &::before {
                        content: 'place';
                        @extend .material-icons;
                        position: absolute;
                        top: 0;
                        left: pxToRem(-16);
                        font-size: pxToRem(16);
                        line-height: pxToRem(16);
                    }
                }
            }
        }
    }

    @media screen and (min-width: 502px) {
        display: block;
        background-color: getColor($color, grey);

        article {
            background-color: getColor($color, light);
        }
        .row {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: pxToRem(32);
        }
    }
    @media screen and (min-width: 1024px) {
        .to {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        .row {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

#achievements {
    position: relative;
    width: 100%;
    background-image: url('../images/skills.png');
    background-repeat: repeat;
    background-position: top center;
    padding: pxToRem(32) 0;

    h2 {
        position: relative;
        text-align: center;
        margin-top: pxToRem(40);
        font-size: pxToRem(34);
        line-height: pxToRem(34);

        &:before,
        &::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'important_devices';
            color: getColor($color, dark);
            color: rgba(getColor($color, dark), 0.87);
        }
    }

    @media screen and (min-width: 376px) {
        .cell {
            width: 86%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    h3 {
        position: relative;
        text-align: center;
        margin-top: pxToRem(40);
        margin-bottom: pxToRem(24);
        font-size: pxToRem(28);
        line-height: pxToRem(28);

        &.pro:before,
        &.pro::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'developer_mode';
            color: getColor($color, dark);
            color: rgba(getColor($color, dark), 0.87);
        }

        &.per:before,
        &.per::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'developer_board';
            color: getColor($color, dark);
            color: rgba(getColor($color, dark), 0.87);
        }

        &.free:before,
        &.free::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'free_breakfast';
            color: getColor($color, dark);
            color: rgba(getColor($color, dark), 0.87);
        }
    }
    figure {
        margin: 0 0 pxToRem(16);
        padding-bottom: pxToRem(16);
        border-bottom: pxToRem(1) solid rgba(getColor($color, dark), 0.25);

        &:last-child {
            border-bottom: 0;
        }

        figcaption {
            margin: pxToRem(8) pxToRem(8) 0;
            h4 {
                margin: 0;
            }
            p {
                margin-top: pxToRem(8);
                margin-bottom: 0;
            }
            ul {
                margin: pxToRem(8) 0 0;
                padding: 0;
                padding-left: pxToRem(18);
            }
            li {
                padding-bottom: pxToRem(8);

                &:last-child {
                    padding-bottom: 0;
                }
            }
            a {
                color: rgba(getColor($color, dark), 0.87);
                text-decoration: underline;
            }
        }
    }
    .cell {
        &:last-child {
            figure {
                &:last-child {
                    margin: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    @media screen and (min-width: 502px) {
        .cell {
            width: 100%;
        }

        figure {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            border: none;
            margin: 0;

            &:nth-child(odd) {
                padding: 0 pxToRem(16) pxToRem(16) pxToRem(8);
            }
            &:nth-child(even) {
                padding: 0 pxToRem(8) pxToRem(16) pxToRem(16);
            }
        }
    }
    @media screen and (min-width: 752px) {
        .cell {
            padding-right: pxToRem(8);
            padding-left: pxToRem(8);
        }
        figure {
            width: 25%;

            &:nth-child(odd),
            &:nth-child(even) {
                padding: 0 pxToRem(8) pxToRem(8);
            }
        }
    }
}

#contact {
    position: relative;
    width: 100%;
    padding: pxToRem(32) 0 0;
    @include box-shadow(0 0 pxToRem(8) rgba(getColor($color, dark), 0.5));

    h2 {
        position: relative;
        text-align: center;
        margin-top: pxToRem(40);
        font-size: pxToRem(34);
        line-height: pxToRem(34);

        &:before,
        &::before {
            @extend .material-icons;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            font-size: pxToRem(34);
            line-height: pxToRem(34);
            content: 'contact_mail';
            color: getColor($color, green);
        }
    }

    address {
        padding: 0 pxToRem(8);

        p {
            position: relative;
            display: block;
            margin: pxToRem(8);
            margin-left: pxToRem(32);
            line-height: pxToRem(27);

            a {
                color: getColor($color, dark);
                color: rgba(getColor($color, dark), 0.87);
                text-decoration: none;
            }

            &:before,
            &::before {
                position: absolute;
                top: 0;
                left: pxToRem(-32);
                @extend .material-icons;
            }
        }
        .tel {
            &:before,
            &::before {
                content: 'phone';
            }
        }
        .home {
            &:before,
            &::before {
                content: 'home';
            }
        }
        .vcard {
            &:before,
            &::before {
                content: 'file_download';
            }
        }
    }

    form {
        display: block;
        padding: pxToRem(8);

        .field {
            position: relative;
            padding-left: pxToRem(48);
            margin-top: pxToRem(16);

            i {
                position: absolute;
                width: pxToRem(48);
                font-size: pxToRem(32);
                top: 0;
                left: 0;
                text-align: center;
            }

            input,
            textarea {
                background-color: transparent;
                border: none;
                border-bottom: pxToRem(1) solid getColorDark($color, light, 10);
                @include border-radius(0);
                outline: none;
                width: 100%;
                height: pxToRem(42);
                font-size: pxToRem(16);
                margin: 0 0 pxToRem(20);
                padding: 0;
                @include box-shadow(none);
                @include box-sizing(content-box);
                @include transition(all 300ms);

                &:focus {
                    border-bottom-color: getColor($color, green);
                    @include box-shadow(
                        0 pxToRem(1) 0 0 getColor($color, green)
                    );

                    & + label {
                        color: getColor($color, green);

                        & + i {
                            color: getColor($color, green);
                        }
                    }
                }

                &.wrong {
                    border-bottom-color: getColor($notifs, wrong, bg);

                    &:focus {
                        @include box-shadow(
                            0 pxToRem(1) 0 0 getColor($notifs, wrong, bg)
                        );
                    }
                }
            }

            textarea {
                min-height: pxToRem(64);
                max-height: pxToRem(128);
                resize: vertical;
            }

            label {
                position: absolute;
                top: pxToRem(-16);
                left: pxToRem(48);
                font-size: pxToRem(12);
                cursor: text;
                @include transition(200ms ease-out);
                text-align: initial;
            }

            button[type='submit'] {
                width: auto;
                position: relative;
                display: inline-block;
                background: none;
                border: none;
                @include border-radius(pxToRem(2));
                color: getColor($color, light);
                background: getColor($color, green);
                min-width: pxToRem(64);
                height: pxToRem(36);
                padding: 0 pxToRem(16);
                margin: 0;
                font-size: pxToRem(14);
                line-height: pxToRem(36);
                text-decoration: none;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0;
                overflow: hidden;
                will-change: box-shadow;
                @include transition(
                    box-shadow 200ms cubic-bezier(0.4, 0, 1, 1),
                    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 200ms cubic-bezier(0.4, 0, 0.2, 1)
                );
                outline: none;
                cursor: pointer;
                vertical-align: middle;
                @include box-shadow(
                    0 pxToRem(2) pxToRem(2) 0 rgba(getColor($color, dark), 0.14),
                    0 pxToRem(3) pxToRem(1) pxToRem(-2)
                        rgba(getColor($color, dark), 0.2),
                    0 pxToRem(1) pxToRem(5) 0 rgba(getColor($color, dark), 0.12)
                );

                i {
                    position: relative;
                    vertical-align: middle;
                    font-size: pxToRem(27);
                    line-height: pxToRem(27);
                }
            }
        }
        #status {
            margin: 0;
            padding: 0;

            &.wrong {
                p {
                    color: getColor($notifs, wrong, bg);
                }
            }

            &.good {
                p {
                    color: getColor($notifs, good, bg);
                }
            }

            &.work {
                p {
                    color: getColor($notifs, alert, bg);
                }
            }

            p {
                margin: 0;
                font-size: pxToRem(12);
                text-align: right;
                font-style: italic;
            }
        }
    }

    aside {
        margin-top: pxToRem(16);

        h3 {
            font-weight: 400;
            padding: 0 pxToRem(16) pxToRem(8);
        }

        ul {
            display: table;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        li {
            display: table-cell;
            width: 20%;
            text-align: center;
            vertical-align: middle;
        }
        a {
            display: block !important;
            visibility: visible !important;
            text-decoration: none;
            width: 100% !important;
            height: 100% !important;
        }
        img {
            width: auto;
            margin: 0 auto pxToRem(16);
            height: pxToRem(40);
        }
    }
    @media screen and (min-width: 502px) {
        form {
            .field {
                &:nth-child(1),
                &:nth-child(2) {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                }
            }
        }
    }
    @media screen and (min-width: 752px) {
        .row {
            display: table;
            width: 100%;
        }
        address {
            display: table-cell;
            vertical-align: top;
            width: 33.333%;
        }
        form {
            display: table-cell;
            vertical-align: top;
            width: 33.333%;
            .field {
                &:nth-child(1),
                &:nth-child(2) {
                    display: block;
                    width: 100%;
                }
            }
        }
        aside {
            display: table-cell;
            vertical-align: top;
            width: 33.333%;
        }
    }
}
