$color: (
    bg: #eeeeee,
    dark: #212121,
    light: #fefefe,
);

$notifs: (
    wrong: (
        bg: #f44336,
        color: #fff,
    ),
    alert: (
        bg: #ffb300,
        color: #fff,
    ),
    good: (
        bg: #8bc34a,
        color: #fff,
    ),
    info: (
        bg: #039be5,
        color: #fff,
    ),
    tip: (
        bg: #fff176,
        color: #fff,
    ),
);
