#menu {
    position: fixed;
    top: pxToRem(16);
    right: pxToRem(16);
    width: pxToRem(32);
    height: pxToRem(32);
    background-color: getColor($color, dark);
    // background-color: getColor( $color, green );
    @include transform(rotateZ(-6deg));
    @include transform-origin(top, right);
    @include transition(all 50ms ease-in-out);
    @include box-shadow(0 0 pxToRem(8) 0 rgba(getColor($color, light), 0.5));
    z-index: 50;

    &:before,
    &::before {
        position: absolute;
        content: '\E5D2';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: pxToRem(32);
        @extend .material-icons;
        color: getColor($color, light);
        @include transform(rotateZ(360deg));
        @include transition(all 250ms ease-in-out);
        opacity: 1;
    }
    &:after,
    &::after {
        position: absolute;
        content: '\E5CD';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: pxToRem(32);
        @extend .material-icons;
        color: getColor($color, light);
        @include transform(rotateZ(0));
        @include transition(all 250ms ease-in-out);
        opacity: 0;
    }

    &.open {
        background-color: transparent;
        @include transform(rotateZ(-6deg));
        @include box-shadow(0 0 0 0 rgba(getColor($color, light), 0));

        &:before,
        &::before {
            @include transform(rotateZ(0));
            opacity: 0;
        }
        &:after,
        &::after {
            @include transform(rotateZ(-360deg));
            opacity: 1;
        }
    }
}
nav {
    position: fixed;
    top: pxToRem(16);
    right: pxToRem(16);
    width: auto;
    height: auto;
    background-color: getColor($color, green);
    overflow: hidden;
    padding: pxToRem(24) pxToRem(16) pxToRem(16) 0;
    z-index: 49;
    @include transform-origin(top, right);
    @include transform(rotateZ(-6deg));
    @include transition(all 250ms ease-in-out);
    @include box-shadow(
        0 0 0 pxToRem(2) getColor($color, light) inset,
        0 0 pxToRem(8) 0 rgba(getColor($color, dark), 0.5)
    );

    &.js {
        @include transform(scale(0) rotateZ(-6deg));
    }

    &.open {
        @include transform(scale(1) rotateZ(-6deg));

        ul {
            @include transform(rotateZ(6deg));
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: pxToRem(8) pxToRem(16) pxToRem(24);

        &:last-child {
            padding: 0 pxToRem(16) pxToRem(8);
            margin-top: pxToRem(-8);
        }
    }

    a {
        position: relative;
        color: getColor($color, light);
        text-decoration: none;
        font-weight: 700;

        &:before,
        &::before {
            content: '';
            content: attr(data-word);
            position: absolute;
            top: -100%;
            left: 0;
            font-weight: 300;
            font-size: pxToRem(12);
        }
    }
}
