@function getColor($maps, $color-name, $color-variant: null) {
    // color variant is optional
    @if ($color-variant != null) {
        // map inception
        @return map-get(map-get($maps, $color-name), $color-variant);
    } @else {
        @return map-get($maps, $color-name);
    }
}

@function getColorDark($maps, $color-name, $color-variant, $percent: null) {
    @if ($percent != null) {
        @return darken(getColor($maps, $color-name, $color-variant), $percent);
    } @else {
        @return darken(getColor($maps, $color-name), $color-variant);
    }
}

@function getColorLight($maps, $color-name, $color-variant, $percent: null) {
    @if ($percent != null) {
        @return lighten(getColor($maps, $color-name, $color-variant), $percent);
    } @else {
        @return lighten(getColor($maps, $color-name), $color-variant);
    }
}

$remBasePx: 16;

@function pxToRem($px) {
    @return ($px * 1) / $remBasePx + rem;
}

@mixin clearfix() {
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation(
    $name,
    $duration,
    $timing-function: false,
    $delay: false,
    $iteration-count: false,
    $direction: false
) {
    @include experimental(
        animation-name,
        $name,
        -moz,
        -webkit,
        -o,
        -ms,
        not -khtml,
        official
    );
    @include experimental(
        animation-duration,
        $duration,
        -moz,
        -webkit,
        -o,
        -ms,
        not -khtml,
        official
    );

    @if $timing-function {
        @include experimental(
            animation-timing-function,
            $timing-function,
            -moz,
            -webkit,
            -o,
            -ms,
            not -khtml,
            official
        );
    }

    @if $delay {
        @include experimental(
            animation-delay,
            $delay,
            -moz,
            -webkit,
            -o,
            -ms,
            not -khtml,
            official
        );
    }

    @if $iteration-count {
        @include experimental(
            animation-iteration-count,
            $iteration-count,
            -moz,
            -webkit,
            -o,
            -ms,
            not -khtml,
            official
        );
    }

    @if $direction {
        @include experimental(
            animation-direction,
            $direction,
            -moz,
            -webkit,
            -o,
            -ms,
            not -khtml,
            official
        );
    }
}
